<h3>Clientes
	<%= link_to('Novo cliente', new_client_path, class: 'btn btn-primary float-end') %>
<hr/>
</h3>
<br clear="all">
<% if @clients.present? %>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Email secundário</th>
				<th>Telefone</th>
				<th>Telefone comercial</th>
				<th>Data de registro</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<% @clients.each do |client| %>
				<tr>
					<td><%= client.id %></td>
					<td><%= client.name %></td>
					<td><%= client.email %></td>
					<td><%= client.email_secundario %></td>
					<td><%= client.telefone %></td>
					<td><%= client.telefone_comercial %></td>
					<td><%= client.created_at %></td>
					<td>
						<div class="dropdown">
						  <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
						    Opções
						  </a>

						  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<li><%= link_to('Contatos', contacts_client_path(client.id), class: 'dropdown-item') %></li>
							<li><hr class="dropdown-divider"></li>
						    <li><%= link_to('Editar', edit_client_path(client.id), class: 'dropdown-item') %></li>
						    <li><%= link_to('Visualizar', client_path(client.id), class: 'dropdown-item') %></li>
						    <li><%= link_to('Deletar', client_path(client.id), method: :delete, class: 'dropdown-item', data: {confirm: 'Tem certeza?'}) %></li>
						  </ul>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<div class="alert alert-info">
		Nenhum cliente encontrado
	</div>
<% end %>
