<h3 class="text-center">Clientes
	<%= link_to('Novo cliente', new_client_path, class: 'btn btn-dark float-end') %>
	<%= link_to('Novo contato', new_contact_path, class: 'btn btn-dark float-end') %>
</h3>
<br clear="all">
<% if @clients.nil? %>
	<div class="alert alert-info">
		Nenhum cliente encontrado
	</div>
<% else %>
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Email</th>
				<th>Email secundário</th>
				<th>Telefone</th>
				<th>Telefone comercial</th>
				<th>Data de registro</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			<% @clients.each do |client| %>
				<tr>
					<td><%= client.id %></td>
					<td><%= client.name %></td>
					<td><%= client.email %></td>
					<td><%= client.email_secundario %></td>
					<td><%= client.telefone %></td>
					<td><%= client.telefone_comercial %></td>
					<td><%= client.data_de_registro %></td>
					<td>
					<%= link_to('Editar', edit_client_path(client.id), class: "btn btn-dark") %>
					<%= link_to('Visualizar', client_path(client.id), class: "btn btn-dark") %>
					<%= button_to('Deletar', client_path(client.id), method: :delete, class: 'btn btn-dark', data: {confirm: 'Tem certeza?'}) %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
