<h3>Contatos</h3>
<hr/>
<% if @contacts.present? %>
	<div class="row">
		<% @contacts.each do |contact| %>
			<div class="col-md-3">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">Cliente: <%= contact.client.name %></h5>
				    <p class="card-text">
				    	Nome: <%= contact.name %> <br/>
				    	Email: <%= contact.email %> <br/>
				    	Email secundário: <%= contact.email_secundario %> <br/>
				    	Telefone: <%= contact.telefone %> <br/>
				    	Telefone comercial: <%= contact.telefone_comercial %> <br/>
				    </p>
				  </div>
				</div>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="alert alert-info">
		Nenhum contato encontrado
	</div>
<% end %>
