<!DOCTYPE html>
<html>
  <head>
    <title>Customerx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">
          <i class="fa fa-bank"></i> &nbsp;<strong>CustomerX</strong>
        </a>
        <% if current_user %>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to 'Clientes', clients_path, class: 'nav-link' %>
              </li>
              <li class="nav-item active">
                <%= link_to 'Contatos', contacts_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
          <span class="navbar-text float-right">
            <%= link_to('Sair', destroy_user_session_path, method: :delete) %>
          </span>
        <% end %>
      </div>
    </nav>
  </header>
  <div class="container mt-5">
    <%= yield %>
  </div>
</body>


